In [1]:
import pandas as pd
import numpy as np
from datetime import datetime
from dateutil.parser import parse
import pytz

In [2]:
pd.date_range('3/9/2012 9:30', periods=10, freq='D', tz='UTC')

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00', '2012-03-16 09:30:00+00:00',
               '2012-03-17 09:30:00+00:00', '2012-03-18 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')

In [3]:
rng=pd.date_range('3/9/2012 9:30', periods=6, freq='D')

ts=pd.Series(np.random.rand(len(rng)), index=rng)

ts

2012-03-09 09:30:00    0.340733
2012-03-10 09:30:00    0.585405
2012-03-11 09:30:00    0.541897
2012-03-12 09:30:00    0.249018
2012-03-13 09:30:00    0.466637
2012-03-14 09:30:00    0.621948
Freq: D, dtype: float64

In [4]:
ts_utc=ts.tz_localize('UTC') # localizing the time from naive to the localized time zone

In [5]:
ts_utc

2012-03-09 09:30:00+00:00    0.340733
2012-03-10 09:30:00+00:00    0.585405
2012-03-11 09:30:00+00:00    0.541897
2012-03-12 09:30:00+00:00    0.249018
2012-03-13 09:30:00+00:00    0.466637
2012-03-14 09:30:00+00:00    0.621948
Freq: D, dtype: float64

In [7]:
ts_utc.tz_convert('America/New_York') # changing to  different time xone

2012-03-09 04:30:00-05:00    0.340733
2012-03-10 04:30:00-05:00    0.585405
2012-03-11 05:30:00-04:00    0.541897
2012-03-12 05:30:00-04:00    0.249018
2012-03-13 05:30:00-04:00    0.466637
2012-03-14 05:30:00-04:00    0.621948
Freq: D, dtype: float64

In [10]:
ts

2012-03-09 09:30:00    0.340733
2012-03-10 09:30:00    0.585405
2012-03-11 09:30:00    0.541897
2012-03-12 09:30:00    0.249018
2012-03-13 09:30:00    0.466637
2012-03-14 09:30:00    0.621948
Freq: D, dtype: float64

In [11]:
ts_utc.index.tz_convert('Asia/Shanghai')

DatetimeIndex(['2012-03-09 17:30:00+08:00', '2012-03-10 17:30:00+08:00',
               '2012-03-11 17:30:00+08:00', '2012-03-12 17:30:00+08:00',
               '2012-03-13 17:30:00+08:00', '2012-03-14 17:30:00+08:00'],
              dtype='datetime64[ns, Asia/Shanghai]', freq='D')

In [12]:
stamp=pd.Timestamp('2011-2-3 4:00')

In [13]:
stamp_utc=stamp.tz_localize('UTC')

In [14]:
stamp_utc.tz_convert('America/New_York')

Timestamp('2011-02-02 23:00:00-0500', tz='America/New_York')

In [15]:
stamp_moscoe=pd.Timestamp('2011-5-5 5:00', tz='Europe/Moscow')

In [16]:
stamp_moscoe

Timestamp('2011-05-05 05:00:00+0400', tz='Europe/Moscow')

In [17]:
stamp_utc.value

1296705600000000000

In [20]:
stamp_utc.tz_convert('America/New_York').value

1296705600000000000

In [21]:
# hENCE CONCLUDED THAT UTC timestamp value is invariant to timezones.

In [22]:
# concept of offsets  with timezone timestaps

In [23]:
from pandas.tseries.offsets import Hour

In [24]:
stamp_moscoe

Timestamp('2011-05-05 05:00:00+0400', tz='Europe/Moscow')

In [25]:
stamp_moscoe+Hour(5)

Timestamp('2011-05-05 10:00:00+0400', tz='Europe/Moscow')

In [26]:
# Operating between two time zones

In [27]:
rng = pd.date_range('3/7/2012 9:30', periods=10, freq='B')
ts = pd.Series(np.random.randn(len(rng)), index=rng)

In [28]:
ts

2012-03-07 09:30:00    0.118500
2012-03-08 09:30:00    0.475772
2012-03-09 09:30:00    0.144194
2012-03-12 09:30:00    0.639743
2012-03-13 09:30:00    0.924431
2012-03-14 09:30:00    0.907535
2012-03-15 09:30:00   -0.460261
2012-03-16 09:30:00   -0.519354
2012-03-19 09:30:00    1.935601
2012-03-20 09:30:00    0.151685
Freq: B, dtype: float64

In [30]:
ts1=ts[:7].tz_localize('Europe/London')

In [32]:
ts2=ts[2:].tz_localize('Europe/Moscow')

In [35]:
(ts1+ts2)

2012-03-07 09:30:00+00:00   NaN
2012-03-08 09:30:00+00:00   NaN
2012-03-09 05:30:00+00:00   NaN
2012-03-09 09:30:00+00:00   NaN
2012-03-12 05:30:00+00:00   NaN
2012-03-12 09:30:00+00:00   NaN
2012-03-13 05:30:00+00:00   NaN
2012-03-13 09:30:00+00:00   NaN
2012-03-14 05:30:00+00:00   NaN
2012-03-14 09:30:00+00:00   NaN
2012-03-15 05:30:00+00:00   NaN
2012-03-15 09:30:00+00:00   NaN
2012-03-16 05:30:00+00:00   NaN
2012-03-19 05:30:00+00:00   NaN
2012-03-20 05:30:00+00:00   NaN
dtype: float64

In [36]:
#the results are shown in the 'UTC' because the base value for any timestamp is UTC value only.

In [39]:
#concept of period

In [37]:
p=pd.Period(2007, freq='A-DEC')

In [38]:
p

Period('2007', 'A-DEC')

In [42]:
pd.Period('2014','A-DEC')-p

7