In [1]:
import pandas as pd
import numpy as np

In [8]:
from datetime import datetime
from dateutil.parser import  parse

In [ ]:
# making a pandas Series with datetime index

In [11]:
ts=pd.Series(np.random.rand(100),index=pd.date_range('1/2/2000',periods=100,freq='4d'))

In [12]:
ts

2000-01-02    0.009426
2000-01-06    0.811513
2000-01-10    0.805276
2000-01-14    0.196297
2000-01-18    0.488051
2000-01-22    0.545752
2000-01-26    0.839966
2000-01-30    0.746239
2000-02-03    0.435160
2000-02-07    0.001257
2000-02-11    0.810946
2000-02-15    0.675184
2000-02-19    0.969992
2000-02-23    0.642581
2000-02-27    0.168087
2000-03-02    0.400173
2000-03-06    0.214815
2000-03-10    0.646028
2000-03-14    0.675051
2000-03-18    0.960135
2000-03-22    0.840171
2000-03-26    0.303481
2000-03-30    0.979105
2000-04-03    0.986124
2000-04-07    0.782654
2000-04-11    0.230136
2000-04-15    0.204068
2000-04-19    0.067593
2000-04-23    0.337223
2000-04-27    0.984096
                ...
2000-10-08    0.754281
2000-10-12    0.044257
2000-10-16    0.792507
2000-10-20    0.812269
2000-10-24    0.531597
2000-10-28    0.602435
2000-11-01    0.678403
2000-11-05    0.767192
2000-11-09    0.266392
2000-11-13    0.550837
2000-11-17    0.518587
2000-11-21    0.288060
2000-11-25    0.215414
2000-11-29    0.138899
2000-12-03    0.425929
2000-12-07    0.439200
2000-12-11    0.353688
2000-12-15    0.183088
2000-12-19    0.672621
2000-12-23    0.022372
2000-12-27    0.470257
2000-12-31    0.646560
2001-01-04    0.267661
2001-01-08    0.507809
2001-01-12    0.105317
2001-01-16    0.639730
2001-01-20    0.297991
2001-01-24    0.400187
2001-01-28    0.785245
2001-02-01    0.118752
Freq: 4D, Length: 100, dtype: float64

In [ ]:
# concept of offset

In [14]:
from pandas.tseries.offsets import Day,MonthEnd

In [15]:
offset=MonthEnd()

In [16]:
ts.groupby(offset.rollforward).mean()

2000-01-31    0.555315
2000-02-29    0.529030
2000-03-31    0.627370
2000-04-30    0.513128
2000-05-31    0.585623
2000-06-30    0.585760
2000-07-31    0.494203
2000-08-31    0.514650
2000-09-30    0.394216
2000-10-31    0.630673
2000-11-30    0.427973
2000-12-31    0.401714
2001-01-31    0.429134
2001-02-28    0.118752
dtype: float64

In [22]:
now = datetime(2011, 11, 17)

In [23]:
offset.rollback(now)

Timestamp('2011-10-31 00:00:00')

In [24]:
ts.resample('M').mean()

2000-01-31    0.555315
2000-02-29    0.529030
2000-03-31    0.627370
2000-04-30    0.513128
2000-05-31    0.585623
2000-06-30    0.585760
2000-07-31    0.494203
2000-08-31    0.514650
2000-09-30    0.394216
2000-10-31    0.630673
2000-11-30    0.427973
2000-12-31    0.401714
2001-01-31    0.429134
2001-02-28    0.118752
Freq: M, dtype: float64

In [25]:
# Time Zone handling

In [26]:
import pytz

In [27]:
pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [36]:
tz=pytz.timezone('America/New_York')

In [37]:
tz

In [31]:
rng=pd.date_range('3/9/2012 9:30', periods=6, freq='D')

ts=pd.Series(np.random.rand(len(rng)), index=rng)

ts

In [34]:
print(ts.index.tz)

None

In [39]:
rng=pd.date_range('3/9/2012 9:30', periods=6, freq='D',tz='UTC')

In [40]:
ts=pd.Series(np.random.rand(len(rng)), index=rng)

In [41]:
ts

2012-03-09 09:30:00+00:00    0.539781
2012-03-10 09:30:00+00:00    0.904754
2012-03-11 09:30:00+00:00    0.855720
2012-03-12 09:30:00+00:00    0.067393
2012-03-13 09:30:00+00:00    0.690140
2012-03-14 09:30:00+00:00    0.925175
Freq: D, dtype: float64